<footer class="site-footer">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <a href="https://github.com/{{ site.github_username| cgi_escape | escape }}" ><svg class="svg-icon-first"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg><span class="username">{{site.github_username | escape}}</span></a>

    <a href="https://instagram.com/{{ site.instagram_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#instagram' | relative_url }}"></use></svg><span class="username">{{site.instagram_username|escape}}</span></a>

    <a href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg><span class="username">{{ site.twitter_username| escape }}</span></a>
    
    <a href="https://bsky.app/profile/{{ site.bsky_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#bsky' | relative_url }}" ></use></svg><span class="username">{{ site.bsky_username| escape }}</span></a>

    <svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#email' | relative_url }}"></use></svg><a class="u-email" href="mailto:moshiturner@protonmail.com">moshiturner@protonmail.com (personal & contracting)</a>
    
    <svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#email' | relative_url }}"></use></svg><a class="u-email" href="mailto:moshi@valvesoftware.com">moshi@valvesoftware.com (yep)</a>

    <svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#email' | relative_url }}"></use></svg><code>moshi</code> on Discord
  </div>

</footer>
